* {
    margin: 0;
    padding: 0;
}

@media (max-width: 1080px) {
    .html {
        font-size: 12.65px
    }
}

@media (max-width: 1440px) {
    .html {
        font-size: 13.58px
    }
}

@media (max-width: 2560px) {
    .html {
        font-size: 23.085px
    }
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background: #f1f1f1; */
    /* font-size: 23.085px; */
}

.wrapper {
    display: flex;
}

.sidenav {
    /* Style for "Rechteck 1" */
    /* width: 7.3125rem;
    height: 59.9375rem; */
    background-color: rgba(31, 36, 40);
    /* border: 1px solid #121e26; */
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.up {
    /* height: 25rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.down {
    /* height: 12.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    /* padding: 20px 20px 0px 13px; */
    /* size: 5.0625rem 5.0625rem; */
    /* padding-bottom: 0.9375rem; */
    /* letter-spacing: -0.0281rem; */
    size: 60%;
    font-size: 0.625rem;
    font-weight: 400;
    margin: 0.5rem;
    text-align: center;
}

.notification {
    background-color: rgba(31, 36, 40);
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.notification .badge {
    position: absolute;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.5rem;
    top: -0.125rem;
    right: -0.3125rem;
    padding: 0.3125rem 0.3125rem;
    border-radius: 50%;
    background: rgb(255, 0, 0, 0.541);
    color: white;
}

.notification2 {
    background-color: rgba(31, 36, 40, 0);
    /* color: white; */
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.notification2 .badge2 {
    position: absolute;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    top: -0.9375rem;
    right: -1.25rem;
    padding: 0.1875rem 0.1875rem;
    border-radius: 50%;
    background: rgb(255, 0, 0, 0.541);
    color: white;
}

.board {
    /* width: 2.6875rem;
    height: 6.25rem; */
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.35);
    color: #787878;
    ;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: -0.0281rem;
    /* padding-left: -10px; */
    margin: 1.7rem;
    text-align: center;
}

.project {
    /* Style for "Projects" */
    /* width: 3.6875rem;
    height: 6.25rem; */
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.35);
    color: #787878;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: -0.0281rem;
    margin: 1.7rem;
    text-align: center;
    /* padding-left: 0.9375rem; */
}

.settings {
    /* Style for "Settings" */
    /* width: 3.6875rem;
    height: 6.25rem; */
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.35);
    color: #787878;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    /* Text style for "Settings" */
    letter-spacing: -0.0281rem;
    margin: 1.7rem;
    text-align: center;
    /* padding-left: 0.625rem; */
}

.upgrade {
    /* Style for "Upgrade" */
    /* width: 3.8125rem;
    height: 6.25rem; */
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.35);
    color: #787878;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 1.7rem;
    text-align: center;
    /* Text style for "Upgrade" */
    /* letter-spacing: -0.0281rem; */
}

.Upgrad_Icon {
    /* Style for "Upgrad_Ico" */
    /* width: 25.25rem;
    height: 2.875rem; */
    margin: 1.7rem;
    text-align: center;
    background-color: rgba(103, 103, 103, 0.61);
}

.logout {
    /* Style for "Logout" */
    /* width: 3.25rem;
    height: 6.25rem; */
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.35);
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 1.7rem;
    text-align: center;
    /* Text style for "Logout" */
    letter-spacing: -0.025rem;
}

.heaer {
    /* height: 6.25rem;
    width: 111.875rem; */
    background: #f1f1f1;
    border-bottom: 1px solid #cccccc;
    /* display: inline-block; */
    /* justify-self: right; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93vw;
    /* width: 112.5%; */
    /* border: 1px solid #cccccc; */
}

.first_block {
    display: flex;
}

.second_block {
    display: flex;
}

.green_arrow_down {
    cursor: pointer;
    margin-top: 0.5rem;
    /* margin-left: 81.25rem; */
    color: #aacc4e;
}

.uonline {
    border: 0.125rem solid #cccccc;
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    /* width: 9.625rem;
    height: 2.375rem; */
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: inherit; */
    text-align: center;
    cursor: pointer;
    padding-right: 0.625rem;
    margin: 1.25rem 3.05rem 1.3rem 1.25rem;
    line-height: 2.5875rem;
    font-size: 0.875rem;
    margin-left: 0.625rem;
    display: flex;
    justify-content: center;
}

.vkladki {
    /* height: 5.125rem;
    width: 111.875rem; */
    background: #f1f1f1;
    border-bottom: 1px solid #cccccc;
    /* border-top: 0.0625rem solid #cccccc; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.folsers {
    display: flex;
}

.active_project {
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: inherit; */
    text-align: center;
    cursor: pointer;
    border-right: 0.0625rem solid #cccccc;
    /* line-height: 75px; */
    font-size: 0.875rem;
    /* padding: 1rem;
    margin: 0.625rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1.25rem 1.875rem;
    /* width: 12.5rem; */
}

.messenger {
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: inherit; */
    text-align: center;
    cursor: pointer;
    border-right: 0.0625rem solid #cccccc;
    line-height: 4.6875rem;
    font-size: 0.875rem;
    /* margin-left: 1.25rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f8f8;
    padding: 0rem 1.875rem;
    /* padding-right: 1.25rem; */
}

.search {
    padding: 0.46875rem 0.9375rem;
    max-width: 17.5rem;
    font-size: 0.95rem;
    cursor: text;
    margin: 1.46rem 1.6rem 0rem 0rem;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 1.25rem;
    outline: none;
    display: flex;
}

.search2 {
    /* padding: 7.5px 15px; */
    padding: 1.57rem;
    max-width: 17.5rem;
    font-size: 0.95rem;
    cursor: text;
    /* margin: 1.46rem 0rem 0rem 0rem; */
    border: 1px solid transparent;
    background: transparent;
    border-radius: 1.25rem;
    outline: none;
    display: flex;
}

.telegram {
    margin-top: -0.175rem;
}

.clock {
    margin-top: -0.525rem;
}

.wrapper_menu {
    /* display: flex;
    flex-direction: column; */
}

.refersh {
    padding: 1.3rem 0.7rem 1rem 1rem;
    cursor: pointer;
}

.container {
    width: 60vw;
    border: 1px solid #dedede;
    background-color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    /* border-radius: 5px; */
    padding: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem -0.0625rem -0.0625rem 0rem;
}

.container2 {
    width: 24vw;
    border: 0.0325rem solid #dedede;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    /* border-radius: 5px; */
    padding: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 10px 0; */
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 3.75rem;
    width: 50%;
    margin-right: 1.25rem;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 1.25rem;
    margin-right: 0;
}

.time-left {
    float: left;
    color: #999;
}

svg {
    padding: 1.75rem;
}

.two_colums {
    /* width: 106.25rem;
    height: 48.75rem; */
    background: #fff;
    margin-left: 2.1875rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px; */
}

.one_col {
    /* width: 74.25rem;
    height: 48.75rem; */
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.two_col {
    /* width: 36.625rem;
    height: 48.75rem; */
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-left: 2.1875rem;
    background: #fff;
}

.projects_content {
    /* display: flex; */
}

.nd_search {
    /* width: 64vw;
    height: 10vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elements {
    display: flex;
}

.scrolll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 41.875rem;
}

.scrolll2 {
    overflow-y: scroll;
    height: 48.125rem;
}

.head1 {
    /* width: 68.875rem;
    height: 5.625rem; */
    border: 1px solid #ccc;
    border-radius: 0.3125rem 0.3125rem 0 0;
    margin: -0.0625rem;
    font-family: 'Libre Franklin', sans-serif;
    color: #cccccc;
    background: #f1f1f1;
    text-align: left;
    line-height: 5.625rem;
    padding-left: 1.875rem;
    display: flex;
    flex-direction: row;
}

.fa-plus-circle {
    color: #ff503f;
    margin: 1rem;
}

.dashboard {
    border: 0.125rem solid #cccccc;
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    /* width: 7.125rem;
    height: 2.375rem; */
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: inherit; */
    text-align: center;
    cursor: pointer;
    /* padding-top: 15px; */
    margin: 1rem 1rem 1rem 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    line-height: 2rem;
    font-size: 0.875rem;
    /* padding-left: 15px; */
}

.procent {
    /* width: 3.125rem;
    height: 2.1875rem; */
    background: #ff503f;
    border-radius: 0.1875rem;
    text-align: center;
    line-height: 2.1875rem;
    color: #cccccc;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.0625rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

#icon_chat {
    color: #a6a6a6;
    float: right;
}

.Newproject {
    border: 0.125rem solid #cccccc;
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    /* width: 7.75rem;
    height: 2.375rem; */
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: inherit; */
    text-align: center;
    cursor: pointer;
    line-height: 2.1875rem;
    font-size: 0.875rem;
    /* margin: 1rem 0rem 2rem 1rem;
    padding: 0.4rem 0.5rem 1rem 1.2rem; */
    padding: 0rem 1rem 0rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
    /* padding-left: 15px; */
}

.tsk {
    font-size: 0.875rem;
    font-family: 'Libre Franklin', sans-serif;
    margin: 1rem;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.somebnt {
    border: 0.125rem solid #cccccc;
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    /* width: 7.125rem;
    height: 2.375rem; */
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: inherit; */
    text-align: center;
    cursor: pointer;
    /* padding-top: 15px; */
    /* margin-top: 28px; */
    line-height: 2.1875rem;
    font-size: 0.875rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
}

i {
    margin: 0.625rem;
    color: rgba(0, 0, 0, 0.35);
    size: 140%;
}

.sidenav div:hover {
    color: #f1f1f1;
}

p {
    width: 15vw;
    float: inline-start;
}

#forhover:hover {
    background: salmon;
    transition: 0.6s;
}

.green_dot {
    background-color: rgba(31, 36, 40, 0);
    /* color: white; */
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.green_dot .green_dot1 {
    position: absolute;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.375rem;
    top: 0rem;
    right: 0rem;
    padding: 0.0625rem 0.25rem;
    border-radius: 50%;
    background: rgba(69, 236, 28);
    color: rgb(69, 236, 28);
}

.postContainer {
    width: 60vw;
    border: 1px solid #dedede;
    background-color: #ebebeb;
    font-family: 'Libre Franklin', sans-serif;
    /* border-radius: 5px; */
    padding: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem -0.0625rem -0.0625rem 0rem;
}

.postProcent {
    /* width: 3.125rem;
    height: 2.1875rem; */
    background: #ebebeb;
    border-radius: 0.1875rem;
    border: 1px solid #9b9b9b;
    text-align: center;
    line-height: 2.1875rem;
    color: #9e9e9e;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.0625rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.postTsk {
    font-size: 0.875rem;
    font-family: 'Libre Franklin', sans-serif;
    margin: 1rem;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.setOfMans {
    display: inline-block;
    vertical-align: middle;
    padding: 0rem 0.625rem 0rem 0.625rem;
}